<footer class="rodape">

    <div class="caixa-principal-rodape">

        <div class="conteudo-01-footer">
            <a href="/"><img src="../../img/mundoAzul_logo.png" class="rodape-imagem"/></a>
        </div>

        <div class="conteudo-02-footer">
            <div class="conteudo-titulo-footer">
                <strong>Inicio</strong>
            </div>

            <div>
                <a class="conteudo-texto-footer" href="">Home</a>
            </div>

            <div>
                <a class="conteudo-texto-footer" href="">Recursos</a>
            </div>

            <div>
                <a class="conteudo-texto-footer" href="">Tecnologias</a>
            </div>
        </div>

        <div class="conteudo-03-footer">
            <div class="conteudo-titulo-footer">
                <strong>Sobre</strong>
            </div>

            <div>
                <a class="conteudo-texto-footer" href="">
                    Contato <br>
                    com o desenvolvedor
                </a>
            </div>

            <div>
                <a class="conteudo-texto-footer" href="">Área</a>
            </div>
        </div>

        <div class="conteudo-04-footer">
            <div class="conteudo-titulo-footer">
                <strong>Suporte</strong>
            </div>

            <div>
                <a class="conteudo-texto-footer" href="">FAQ</a>
            </div>

            <div>
                <a class="conteudo-texto-footer" href="">Email</a>
            </div>

            <div>
                <a class="conteudo-texto-footer" href="">Chat</a>
            </div>
        </div>

        <div class="conteudo-05-footer">
            <div>
                <a href="https://www.instagram.com/olirrvt_/"> <img class="instagram-logo-rodape" src="../../img/instagram_logo.png" alt="instagram_logo_png"> </a>
            </div>
            <div>
                <a href="https://github.com/olirrvt"> <img class="github-logo-rodape" src="../../img/github_logo.png" alt="github_logo_png"> </a>
            </div>
            <div>
                <a href="https://www.linkedin.com/in/taylor-oliveira-458384234/"> <img class="linkedin-logo-rodape" src="../../img/linkedin_logo.png" alt="linkedin_logo_png"> </a>
            </div>
        </div>

    </div>
</footer>