<!-- <nav class="navbar navbar-expand-lg cabecalho-menu-item" style="background-color: #e9eef8;">
  <div class="container-fluid">
    <a href="/"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/backbonejs/backbonejs-original.svg" class="cabecalho-imagem"/></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Entrar</a>
        </li>
        <li>
          <a class="nav-link" href="/recrutar">Recrutar</a>
        </li>
        <li>
          <a class="nav-link" href="/curriculos">curriculos</a>
        </li>
              <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
          
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2 input-pesquisar" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav> -->


     <header class="cabecalho">

      <div class="container-pesquisa-logo">
        <a href="/"> <img src="../../img/mundoAzul_logo.png" class="cabecalho-imagem"/></a>

        <form class= "form-buscar-principal" action="#">
          <input class="campo-pesquisar-principal" type="text" placeholder= "Pesquise aqui uma empresa ou um usuário...">
          <img src="../../img/lupa_pesquisar.png" alt="lupa-pesquisar" class="lupa-pesquisar-principal">
        </form>
      </div>

      <nav id="nav-principal">
        <ul class="cabecalho-menu"> 
          <li> <a class="cabecalho-menu-item" href="/">Home</a> </li>
          <li> <a class="cabecalho-menu-item" href="/recrutar">Recrutar</a> </li>
          <li> <a class="cabecalho-menu-item" href="/login">Login</a> </li>
        </ul>
      </nav>
    
  </header>

  <nav class="navbar bg-light fixed-top header-responsivo">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"> <img src="../../img/mundoAzul_logo.png" class="cabecalho-imagem-responsivo"/> </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Working Website</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/recrutar">Recrutar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
          </ul>
          <form class= "form-buscar-principal" action="#">
            <input class="campo-pesquisar-responsivo" type="text" placeholder= "Pesquise aqui">
            <img src="../../img/lupa_pesquisar.png" alt="lupa-pesquisar" class="lupa-pesquisar-principal">
          </form>
        </div>
      </div>
    </div>
  </nav>

<!-- <img src="../../img/lupa_pesquisar.png" alt="lupa-pesquisar" class="lupa-pesquisar-principal"> -->>

<!--
  HEADER 2 COM BOOTSTRAP
<header>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid cabecalho-menu-item">
          <a class="navbar-brand " href="/"><img class="cabecalho-imagem" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" alt="nodejs-img"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Entrar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/suporte">Suporte</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/curriculos">curriculos</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</header> 

<a class="cabecalho-menu-item" href="https://www.instagram.com/olirrvt_/">Instagram</a>
<a class="cabecalho-menu-item" href="https://github.com/olirrvt">GitHub</a>
<a class="cabecalho-menu-item" href="#">Contato</a>

-->

