<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/header') %> 

    <div class="conteudo-formulario-empresas">
        <section>   
            <div class="container-caixas-formulario">

                <div class="caixa-conteudo-primario">

                    <div class="conteudo-escrito-titulo">
                        Seja muito bem vindo!
                    </div>

                    <div class="conteudo-escrito-descricao">
                        Cadastre a sua empresa, ou faça login se já estiver, <br> para aproveitar os nossos serviços!
                    </div>

                    <div class="conteudo-botao-logar">
                        <a class="nav-login-cadastro" href="/login"><button class="btn-logar-cadastro">Login</button></a>
                    </div>

                    <div class="conteudo-imagem-cadastro">
                        <img class="imagem-cadastro" src="../../svg/login-user.svg" alt="imagem-do-cadastro">
                    </div>

                </div>

                <div class="caixa-conteudo-secundario">
                    
                    <div class="metodo-de-login">

                        <div class="conteudo-escrito-titulo-login">
                            Cadastrar Empresa
                        </div>

                        <div class="conteudo-escrito-subtitulo-login">
                            Use credenciais corretas para cadastrar <br> a sua empresa
                        </div>

                    </div>

                    <div class="container-formulario">
                        <form class="formulario-cadastro">

                            <label for="">Informe o nome da sua empresa:</label>
                            <input type="text" class="input-cadastro" name="empresa-nome" id="empresa-nome" placeholder="Digite o nome da sua empresa...">

                            <label for="">Informe o email da sua empresa:</label>
                            <input type="text" class="input-cadastro" name="empresa-email" id="empresa-email" placeholder="Digite o email da sua empresa...">

                            <label for="">Informe a senha:</label>
                            <input type="password" class="input-cadastro" name="empresa-senha" id="empresa-senha" placeholder="Digite a senha que deseja...">

                            <label for="">Informe o cnpj da sua empresa:</label>
                            <input type="text" class="input-cadastro" name="empresa-cnpj" id="empresa-cnpj" placeholder="Digite o cnpj da sua empresa...">

                        </form>

                        <div class="container-botao-cadastrar">
                            <button class="btn-cadastrar">
                                Cadastrar
                            </button>
                        </div>

                    </div>

                </div>

            </div>
        </section>
    </div>


        <%- include('../partials/vlibras') %>  
    <!--<%- include('../partials/footer') %>-->
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</html>