<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/header') %> 

    <div class="conteudo-vagas">
        <section>

            <div class="card-vagas">
                <header class="cabecalho-vagas">
                    <span class="titulo-cabecalho-card">Programador Junior JavaScript</span>
                    <span class="conteudo-nome-empresa">
                       Empresa Digital House
                    </span>
                    <div class="container-salario">
                        <span class="conteudo-salario-card"> Salário de R$2.500 a R$5.500</span>
                    </div>
                    <div class="container-localizacao">
                        <span class="conteudo-localizacao-card">Localizada em Salvador - BA</span>
                    </div>
                </header>
                <div class="corpo-do-card">
                    <div class="container-descricao-vaga">
                        <span class="conteudo-descricao-card">- Descrição da vaga: Essa vaga é especializada para JavaScript</span>
                        <span class="conteudo-descricao-card">- Modelo da vaga: Remoto</span>
                        <span class="conteudo-descricao-card">- Vaga anunciada em: 12/11/2022</span>
                    </div>
                    <div class="container-botao">
                        <button class="btn-candidato">Candidatar-se</button>
                    </div>
                </div>
            </div>

            <div class="card-vagas">
                <header class="cabecalho-vagas">
                    <span class="titulo-cabecalho-card">Programador Senior Python</span>
                    <span class="conteudo-nome-empresa">
                       Empresa Ifood
                    </span>
                    <div class="container-salario">
                        <span class="conteudo-salario-card"> Salário de R$12.000 a R$15.000</span>
                    </div>
                    <div class="container-localizacao">
                        <span class="conteudo-localizacao-card">Localizada em São Paulo - SP</span>
                    </div>
                </header>
                <div class="corpo-do-card">
                    <div class="container-descricao-vaga">
                        <span class="conteudo-descricao-card">- Descrição da vaga: Essa vaga é especializada para dados</span>
                        <span class="conteudo-descricao-card">- Modelo da vaga: Remoto</span>
                        <span class="conteudo-descricao-card">- Vaga anunciada em: 19/11/2022</span>
                    </div>
                    <div class="container-botao">
                        <button class="btn-candidato">Candidatar-se</button>
                    </div>
                </div>
            </div>

            <div class="card-vagas">
                <header class="cabecalho-vagas">
                    <span class="titulo-cabecalho-card">Programador Pleno C#</span>
                    <span class="conteudo-nome-empresa">
                       Empresa Aquiris
                    </span>
                    <div class="container-salario">
                        <span class="conteudo-salario-card"> Salário de R$9.000 a R$10.000</span>
                    </div>
                    <div class="container-localizacao">
                        <span class="conteudo-localizacao-card">Localizada em Florianópolis - SC</span>
                    </div>
                </header>
                <div class="corpo-do-card">
                    <div class="container-descricao-vaga">
                        <span class="conteudo-descricao-card">- Descrição da vaga: Essa vaga é especializada para jogos</span>
                        <span class="conteudo-descricao-card">- Modelo da vaga: Remoto</span>
                        <span class="conteudo-descricao-card">- Vaga anunciada em: 20/11/2022</span>
                    </div>
                    <div class="container-botao">
                        <button class="btn-candidato">Candidatar-se</button>
                    </div>
                </div>
            </div>
            
        </section>
    </div>

    <%- include('../partials/vlibras') %>

    <%- include('../partials/footer') %>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</html>